* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
}
svg {
  width: 1000px;
  height: 500px;
}
.path {
  position: absolute;
  top: -500px;
  width: 1000px;
  height: 500px;
}
