* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  position: relative;
  width: 1000px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
}
svg {
  position: relative;
  width: 1000px;
  height: 500px;
}

.circle {
  position: absolute;
  /* display: none; */
  background-color: black;
  z-index: 3;
  top: 35px;
  left: 35px;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: green;
}
.circle1 {
  background-color: gold;
}
.circle2 {
  left: 375px;
  background-color: royalblue;
}
.circle3 {
  left: 835px;
  background-color: royalblue;
}
.circle4 {
  left: 835px;
  top: 98px;
  background-color: teal;
}
.circle5 {
  left: 745px;
  top: 98px;
  background-color: teal;
}
.circle6 {
  left: 135px;
  top: 155px;
  background-color: purple;
}
.circle7 {
  left: 205px;
  top: 155px;
  background-color: purple;
}
.circle8 {
  left: 385px;
  top: 155px;
  background-color: purple;
}
.circle9 {
  left: 595px;
  top: 155px;
  background-color: purple;
}
.circle10 {
  left: 938px;
  top: 155px;
  background-color: purple;
}
.circle11 {
  left: 385px;
  top: 255px;
}
.circle12 {
  left: 435px;
  top: 255px;
}
.circle13 {
  left: 135px;
  top: 355px;
}
.circle14 {
  left: 285px;
  top: 357px;
}
.circle15 {
  left: 385px;
  top: 357px;
}
.circle16 {
  left: 425px;
  top: 357px;
}
